ConsomeJSPcliente/web/WEB-INF/wsdl/localhost_8080/GerarAreas/CalcularAreasService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calcularareas.servico.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calcularareas.servico.com/">

<xs:element name="retangulo" type="tns:retangulo"/>

<xs:element name="retanguloResponse" type="tns:retanguloResponse"/>

<xs:element name="triangulo" type="tns:triangulo"/>

<xs:element name="trianguloResponse" type="tns:trianguloResponse"/>

<xs:complexType name="retangulo">
<xs:sequence>
<xs:element name="base" type="xs:double"/>
<xs:element name="altura" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retanguloResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="triangulo">
<xs:sequence>
<xs:element name="base" type="xs:double"/>
<xs:element name="altura" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trianguloResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>